:root {
  --default-layout-header-height: 140px;
  --default-layout-width: 1200px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-width: var(--default-layout-width);
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
