@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

.dashboard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #dce1eb;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}


#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: var(--white);
  z-index: 2000;
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}


#sidebar .brand {
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  display: flex;
  align-items: center;
  color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--blue);
  z-index: 500;
  box-sizing: content-box;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
  padding: 0;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background-color: var(--dark-grey);
  position: relative;
  width: 120%;
  box-shadow: 0 0 2px;
}


#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  font-weight: 600;
  color: var(--blue);
  background-color: var(--dark-grey);

}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
