.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-transform: uppercase;
  text-align: center;
}
