.card__content-top {
  flex: 1;
}

.card__content-bottom {
  flex: 0;
  margin-top: auto;
}

.subtitle {
  font-family: Satisfy, sans-serif !important;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 32px !important;
  color: var(--yellow);
}

.title {
  margin: 16px 0 20px 0 !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px !important;
  font-weight: 700 !important;
  letter-spacing: 0.1px;
  color: var(--white);
}